
*{
    margin:0px;
    padding:0px;
}
body {
    background-color:white;
    margin:0px;
    padding:0px;
    
}

#header{
    height:210px;
    margin:0px;
    /* border: 1px solid red;    */

    
  
}


/*top menu start*/
#top_menu_fixed{
   position:fixed!important;
   width:100%;
   height:210px;
   text-align:center;
   background-color:#d3c4bd;
   margin:0px;
   z-index:99999;
   
}
#top_menu_fixed_right{
    width:100%;        
    text-align:right;
    
    
}
#top_menu_fixed_right a{
    text-decoration:none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size:11px;
}

#top_menu_fixed_right a:hover{
    color:red;
}

#top_logo{
    margin:0px;
    padding:30px 6px;
    font-size:25px;
}
#top_logo a{
    text-decoration:none;
    color:black;
}
.menu_tap{
    padding:0px 15px;
}

.menu_nav{
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    color:black;
    text-transform: uppercase;
}
menu_nav_ul{
    position:relative;
}
.menu_nav li{
   
    display:inline-block;
}

.menu_nav li a{
    text-decoration:none;
    color:black;
    letter-spacing: 3px;
}
.menu_nav li a:hover{
    text-decoration: none;
    color:red;
}
.menu_nav_sub_ul{
    display:none;
    font-family: Arial, Helvetica, sans-serif;
    font-size:12px;
    margin:0px;
    padding:10px 0px;
    letter-spacing: 1px;
    position: absolute;
    /* border:1px solid red; */
}
.menu_nav_li:hover > .menu_nav_sub_ul{
    display:block;
}








/*top menu end*/

/*content*/
#contents{
    width:100%;
    height:100%;
    padding:0px;    
    
    
}
#top_image{
    width:100%;
    text-align: center;
}

.slideshow{
    overflow:hidden;
    position:relative;
    min-width:960px;
    height:465px;
    margin:0px;
}

.slideshow img{
    display:none;
    position:absolute;
    left:50%;
    margin-left:-800px;
}
.no-js.slideshow img:first-child{
    display:inline;
}


/*listing section*/
/*list1 원두 */
.list_page{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:1600px;
}
.list_title{
    padding:10px 0px;
}
.list_title span{
    float:right;
    padding: 0px 10px 0px 0px;
}
.list_page_sub{
    padding:10px 0;
}
.list_page_sub ul.list_properties{
    list-style: none;
    overflow: hidden;
}
.list_page_sub ul.list_properties li{
    display: block;
    width:25%;
    height:auto;
    position: relative;
    float:left;
    margin: 0 3.6363% 3.6363%, 0;
}
.list_page_sub ul.list_properties li img.property_img{
    width:50%;
    height: auto!important;
    vertical-align: top;
}
.list_page_sub ul.list_properties li:nth-child(4n+0){
    margin-right:0px;
}
.list_properties>li a{
    color:black;
    text-decoration:none;
}



/* list end*/



/*about*/
.aboutContents{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:1600px;
}
.abountTitle p{
    margin: 20px 0px 20px 0px;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    font-size:20px;
    font-weight: bold;
}

/* 뉴스 */
.news_title{
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size:20px;
    font-weight:bold;
    width:70%;
    margin-bottom: 15px;
    margin-top:20px;
}



/* footer start*/
.footer{
    clear:both;
    width:100%;
    height:100px;
    background-color:black;
    color:white;
    display:table;
    
}
.footer p{
    
    display:table-cell; text-align:center; vertical-align:middle;
    
    
}
/* footer end*/

/* @media screen and (max-width:600px){
    #top_menu_fixed{visibility:hidden;}
} */